* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  color: $black;
  line-height: 24px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
}

body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
}

ul, ol {
  -webkit-padding-start: 0;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

input,
a,
button,
textarea {
  outline: none;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus,
  &:required {
    text-decoration: none;
    outline: none;
    box-shadow: none;
  }

  &[disabled] {
    cursor: default;
  }
}

input,
select {

  &[required] {

    + label::after {
      content: '*';
      color: $red;
    }
  }
}

.select-wrapper {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    cursor: pointer;
    right: 1rem;
    top: 50%;
    margin-top: -2px;
    width: 5px;
    height: 5px;
    border-bottom: 2px solid;
    border-right: 2px solid #080606;
    transform: rotate(45deg);
    pointer-events: none;
  }

  select {
    appearance: none;
  }
}

*[dir="rtl"] {
  .select-wrapper {
    &::after {
      right: unset;
      left: 1rem;
    }
  }
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  display: inline-block;
  margin: 0;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 36px;
  line-height: 44px;
}

h3 {
  font-size: 28px;
  line-height: 36px;
}

h4 {
  font-size: 24px;
  line-height: 30px;
}

h5 {
  font-size: 20px;
  line-height: 26px;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

img {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

.landingPage {
  p {
    &.block__description {
      margin: 1em 0;
    }
  }
}

.loader {

  &__simple {
    border: 3px solid transparent;
    border-top: 3px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1.2s linear infinite;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (min-width: $phabletWidth) {
  html {
    line-height: 27px;
    font-size: 18px;
  }

  h1 {
    font-size: 44px;
    line-height: 54px;
  }

  h2 {
    font-size: 44px;
    line-height: 54px;
  }

  h3 {
    font-size: 32px;
    line-height: 40px;
  }

  h4 {
    font-size: 28px;
    line-height: 36px;
  }

  h5 {
    font-size: 24px;
    line-height: 32px;
  }

}

@media screen and (min-width: $tabletWidth) {
  html {
    line-height: 30px;
    font-size: 20px;
  }

  h1 {
    font-size: 60px;
    line-height: 70px;
  }

  h2 {
    font-size: 60px;
    line-height: 70px;
  }

  h3 {
    font-size: 40px;
    line-height: 50px;
  }

  h4 {
    font-size: 34px;
    line-height: 42px;
  }

  h5 {
    font-size: 28px;
    line-height: 36px;
  }
}

@media screen and (min-width: $desktopWidth) {
  html {
    line-height: 42px;
    font-size: 24px;
  }

  h1 {
    font-size: 72px;
    line-height: 84px;
  }

  h2 {
    font-size: 72px;
    line-height: 84px;
  }

  h3 {
    font-size: 48px;
    line-height: 60px;
  }

  h4 {
    font-size: 42px;
    line-height: 60px;
  }

  h5 {
    font-size: 36px;
    line-height: 44px;
  }
}
