.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: $black;
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 10;
  box-shadow: none;
  transition: background-color $defaultTransition, box-shadow $defaultTransition;

  &__logo {
    height: 50px;

    img,
    svg {
      height: 100%;
      width: auto;
    }
  }

  &__button {
    display: none;
  }

  &--white {
    background-color: $white;
  }

  &--scrolled {
    box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.03);
  }

  &__burger {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }
}

@media screen and (min-width: $tabletWidth) {
  .header {
    &__button {
      display: inline-block;

      &.button__hollow {
        height: 48px;
        line-height: 44px;
      }

      .button--versioned {

        &:after {
          bottom: 24px;
        }
      }
    }

    &__burger {
      display: none;
    }
  }
}
