.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: $black;
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 10;

  &__logo {
    height: 50px;

    img,
    svg {
      height: 100%;
      width: auto;
    }
  }

  &__button {

    &.button__hollow {
      height: 48px;
      line-height: 44px;
    }

    .button--versioned {

      &:after {
        bottom: 28px;
      }
    }
  }
}
