$mobileWidth: 480px;
$phabletWidth: 768px;
$tabletWidth: 1024px;
$desktopWidth: 1240px;
$bigDesktopWidth: 1400px;

$white: #FFFFFF;
$whiteGrey: #F4F5F7;
$greyLight: #9B9B9B;
$grey: #E4E5E7;
$greyDark: #4A4A4A;
$greyDisabled: #999999;
$red: #F6282F;
$blue: #4CA3D9;
$green: #00C087;
$cyan: #E4ECEC;
$black: #080606;

$defaultTransition: .3s ease-in-out;
