$mobile-width: 480px;
$phablet-width: 768px;
$tablet-width: 1024px;
$desktop-width: 1240px;

$white: #FFFFFF;
$whiteGrey: #F4F5F7;
$greyLight: #9B9B9B;
$grey: #E4E5E7;
$greyDark: #4A4A4A;
$red: #F6282F;
$blue: #4CA3D9;
$black: #080606;

$defaultTransition: .3s ease-in-out;
