$mobile-width: 480px;
$phablet-width: 768px;
$tablet-width: 1024px;
$desktop-width: 1240px;

$white: #FFFFFF;
$greyLight: #9B9B9B;
$greyDark: #4A4A4A;
$red: #F6282F;
$blue: #4CA3D9;
$black: #000000;

$default_transition: .3s ease-in-out;
