.form {

  &__row {
    margin-left: -10px;
    margin-right: -10px;

    & + & {
      margin-top: 15px;
    }
  }

  &__group {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    flex: 1 1 0;

    &-label {
      letter-spacing: 1.2px;
      font-weight: 500;
      line-height: 1.43;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 8px;
    }

    &--no-grow {
      flex: 0 0 auto;
    }
  }
}
