.bg {
  &-black { background-color: $black; }
  &-white-grey { background-color: $whiteGrey; }
}

.text {
  &-left { text-align: left; }
  &-center { text-align: center; }
  &-right { text-align: right; }

  &-white { color: $white; }
  &-red { color: $red; }

  &-light { font-weight: 300; }
  &-normal { font-weight: normal; }
  &-bold { font-weight: bold; }

  &-no-transform { text-transform: none; }

  &-sm {
    line-height: 21px;
    font-size: 14px;
  }
}

.separator {
  &-bt { border-bottom: 1px solid $grey; }
}

.self {
  &-center {
    margin-left: auto;
    margin-right: auto;
  }
}

.pb {
  &-0 { padding-bottom: 0; }
}

@media screen and (min-width: $phabletWidth) {
  .text {
    &-sm {
      line-height: 24px;
      font-size: 16px;
    }
  }
}

@media screen and (min-width: $tabletWidth) {
  .text {
    &-sm {
      line-height: 27px;
      font-size: 18px;
    }
  }
}

@media screen and (min-width: $desktopWidth) {
  .text {
    &-sm {
      line-height: 30px;
      font-size: 20px;
    }
  }
}
