.bg {
    &-black {
        background-color: $realBlack;
    }
    &-white-grey {
        background-color: $whiteGrey;
    }
}
.mt {
    &-30 {
        margin-top: 30px;
    }
    &-50 {
        margin-top: 50px;
    }
    &-35 {
        margin-top: 350px;
    }
}

.h {
    &-75 {
        height: 75px;
    }
    &-35 {
        height: 350px;
    }
    &-17 {
        height: 170px;
    }
    &-11 {
        height: 110px;
    }
}

.w {
    &-250 {
        width: 250px;
    }
}

.arrow-hover {
    transition: 0.4s;
    border: solid $red !important;
    border-width: 0 2px 2px 0 !important;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    margin-bottom: 0px;
    transform: rotate(225deg);
    cursor: pointer;
}

.link-hover {
    color: $red !important;
}

.img-w {
    &-9 {
        width: 900px;
    }
}

.text {
    &-left {
        text-align: left;
    }
    &-center {
        text-align: center;
    }
    &-center--mobile {
        text-align: center;
    }
    &-right {
        text-align: right;
    }

    &-white {
        color: $white;
    }
    &-red {
        color: $red;
    }
    &-black {
        color: black;
    }

    &-light {
        font-weight: 300;
    }
    &-normal {
        font-weight: normal;
    }
    &-weight-500 {
        font-weight: 500;
    }
    &-bold {
        font-weight: bold;
    }

    &-no-transform {
        text-transform: none;
    }

    &-sm {
        line-height: 21px;
        font-size: 14px;
    }

    &-xsm {
        line-height: 16px;
        font-size: 12px;
    }

    &-secondary {
        color: #999999;
    }
    &-fs {
        &-20 {
            font-size: 20px;
        }
        &-48 {
            font-size: 48px;
        }
    }
    &-lh {
        &-50 {
            line-height: 50px;
        }
        &-75 {
            line-height: 75px;
        }
    }
}

.asterisk {
    display: inline-block;
    color: $red;
    padding-right: 0.3em;
    padding-top: 3em;
}

.separator {
    &-bt {
        border-bottom: 1px solid $grey;
    }
    &-no-tp {
        border-top: none;
    }
}

.self {
    &-center {
        margin-left: auto;
        margin-right: auto;
        &--mobile {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
.d {
    &-flex {
        display: flex;
    }
}
.justify {
    &-center {
        justify-content: center !important;
    }
}
.pt {
    &-0 {
        padding-top: 0;
    }
}

.pb {
    &-0 {
        padding-bottom: 0;
    }
}
.pg {
    &-60 {
        padding: 60px;
    }
}
.mr {
    &-40 {
        margin-right: 40px;
    }
}
.ht {
    &-100 {
        height: 100%;
    }
}

.d {
    &-flex {
        display: flex;
    }
}
.pt {
    &-100 {
        padding-top: 100px;
    }
}
.fade {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(119, 113, 113, 0) 50%,
        rgba(0, 0, 0, 1) 100%
    );
    opacity: 1;
    top: 0;
    left: 0;
}
.p {
    &-relative {
        position: relative;
    }
}
@media screen and (min-width: $phabletWidth) {
    .text {
        &-sm {
            line-height: 24px;
            font-size: 16px;
        }

        &-xsm {
            line-height: 16px;
            font-size: 14px;
        }
    }
}

@media screen and (min-width: $tabletWidth) {
    .text {
        &center--mobile {
            text-align: initial;
        }
        &-sm {
            line-height: 27px;
            font-size: 18px;
        }
        &-xsm {
            line-height: 18px;
            font-size: 15px;
        }
    }
    .self-center--mobile {
        margin-left: initial;
        margin-right: initial;
    }
}

@media screen and (max-width: 1023px) {
    .h {
        &-35 {
            height: 250px;
        }
        &-17 {
            height: 140px;
        }
        &-11 {
            height: 50px;
        }
    }
}

@media screen and (min-width: $desktopWidth) {
    .text {
        &-sm {
            line-height: 30px;
            font-size: 20px;
        }
        &-xsm {
            line-height: 18px;
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 652px) {
    .h {
        &-35 {
            height: auto;
            margin-bottom: 50px;
        }
    }
}