$smallMobileWidth: 360px;
$mobileWidth: 480px;
$phabletWidth: 768px;
$tabletWidth: 1024px;
$desktopWidth: 1240px;
$bigDesktopWidth: 1400px;

$white: #ffffff;
$whiteGrey: #f4f5f7;
$greyLight: #9b9b9b;
$grey: #e4e5e7;
$greyDark: #4a4a4a;
$greyDisabled: #999999;
$red: #f6282f;
$blue: #4ca3d9;
$green: #00c087;
$cyan: #e4ecec;
$black: #080606;
$realBlack: #000;

$defaultTransition: 0.3s ease-in-out;
$doubleTransition: 0.6s ease-in-out;

$mobileMenuWidth: 320px;
