.block {
  &__elem {
    margin-bottom: 20px;

    &.block__title {
      margin-bottom: 30px;
    }

    &--sm,
    &--xs {
      margin-bottom: 20px;
    }

    &--lg {
      margin-bottom: 24px;
    }

    &--xl {
      margin-bottom: 60px;
    }

    &--40 {
      margin-bottom: 40px;
    }

    &--50 {
      margin-bottom: 50px;
    }

    &--80 {
      margin-bottom: 80px;
    }
  }

  &__title {
    font-weight: bold;
  }

  &__description {
    &--fixed {
      max-width: 810px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__pretitle {
    font-size: 12px;
    line-height: 12px;
    color: $blue;
    letter-spacing: 1.2px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__postfix {
    font-size: 12px;
    margin-top: 80px;
  }

  &__blog {
    border-radius: 3px;
    border: solid 1px $grey;
    background-color: $white;
    padding: 50px;
    display: flex;
    flex-direction: column;
  }


}

@media screen and (min-width: $tabletWidth) {
  .block {
    &__elem {
      margin-bottom: 30px;

      &.block__header {
        margin-bottom: 36px;
      }

      &--xs {
        margin-bottom: 20px;
      }

      &--sm {
        margin-bottom: 24px;
      }

      &--lg {
        margin-bottom: 50px;
      }

      &--xl {
        margin-bottom: 100px;
      }

      &--80 {
        margin-bottom: 80px;
      }
    }

    &__pretitle {
      line-height: 14px;
      font-size: 14px;
    }

    &__postfix {
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 60px;
    }
  }
}
