.details {
  border-radius: 3px;
  border: 1px solid $grey;
  line-height: 24px;
  font-size: 16px;

  & + & {
    margin-top: 10px;
  }

  &__summary {
    color: $greyDisabled;
    padding: 16px 50px 16px 20px;
    position: relative;
    cursor: pointer;
    transition: color $defaultTransition;

    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 20px;
      top: 26px;
      width: 0;
      height: 0;
      border-width: 6px 4px;
      border-color: transparent;
      border-style: solid;
      border-top-color: $black;
      transition: transform $defaultTransition, top $defaultTransition;
    }
  }

  &__info {
    display: none;
    padding: 20px 24px;
  }

  &.active {
    height: initial;

    .details {
      &__summary {
        color: $black;
        border-bottom: 1px solid $grey;

        &:after {
          top: 20px;
          transform: rotate(180deg);
        }
      }

      &__info {
        display: block;
      }
    }
  }
}

@media screen and (min-width: $tabletWidth) {
  .details {
    font-size: 20px;
    line-height: 30px;

    & + & {
      margin-top: 20px;
    }

    &__summary {
      padding: 18px 70px 18px 30px;

      &:after {
        right: 30px;
        top: 28px;
        border-width: 8px 6px;
      }
    }

    &__info {
      padding: 24px 30px;
    }

    &.active {

      .details {
        &__summary {
          &:after {
            top: 20px;
          }
        }
      }
    }
  }
}
