.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  svg,
  img {
    width: 100%;
    height: auto;
  }

  &--checked {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $green;
  }

  &--unchecked {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $greyLight;
  }

  &__big-circled {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0 32px 44px 0 rgba(0, 0, 0, 0.05);
    overflow: hidden;

    &--compatibility {
      padding-left: 38px;
      padding-right: 38px;
    }

    &--windows {
      padding-left: 31px;
      padding-right: 45px;
    }

    &--performance {
      padding-left: 26px;
      padding-right: 28px;
    }

    &--support {
      padding-left: 33px;
      padding-right: 33px;
    }

    &--city {
      align-items: flex-end;

      img,
      svg {
        position: relative;
        top: 4px;
      }
    }
  }
}

@media screen and (min-width: $tabletWidth) {
  .icon {
    &__big-circled {
      width: 225px;
      height: 225px;

      &--compatibility {
        padding-left: 59px;
        padding-right: 59px;
      }

      &--windows {
        padding-left: 48px;
        padding-right: 69px;
      }

      &--performance {
        padding-left: 40px;
        padding-right: 45px;
      }

      &--support {
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }
}

@media screen and (min-width: $desktopWidth) {
  .icon {
    &__big-circled {
      width: 300px;
      height: 300px;

      &--compatibility {
        padding-left: 77px;
        padding-right: 77px;
      }

      &--windows {
        padding-left: 63px;
        padding-right: 91px;
      }

      &--performance {
        padding-left: 53px;
        padding-right: 59px;
      }

      &--support {
        padding-left: 67px;
        padding-right: 67px;
      }
    }
  }
}
