.image {
  path {
    transition: fill $defaultTransition;
  }

  &__logo {
    .helper-text,
    .umlaut,
    .circle {
      fill: $red;
    }

    .symbol,
    .memurai {
      fill: $white;
    }

    &.black {
      .circle,
      .memurai {
        fill: $black;
      }
    }
  }

  &.RSSLogo {
    margin-top: 20px;
  }
}

// RSS icon positioning locic breaks under this screen resolution
// Display is disabled until customer decision
@media screen and (max-width: $desktopWidth) {
  .image {
    &.RSSLogo {
      display: none;    }
  }
}
