.image {
  path {
    transition: fill $defaultTransition;
  }

  &__logo {
    .helper-text,
    .umlaut,
    .circle {
      fill: $red;
    }

    .symbol,
    .memurai {
      fill: $white;
    }

    &.black {
      .circle,
      .memurai {
        fill: $black;
      }
    }
  }
}
