.input {
  width: 100%;
  border-radius: 3px;
  border: 1px solid $grey;
  font-size: 12px;
  line-height: 28px;
  margin: 0;
  padding: 14px 20px;
  height: 56px;
  color: $black;
  caret-color: $red;
  background-color: $white;
  transition: border $defaultTransition;

  &--error {
    border-color: $red;
  }
}

@media screen and (min-width: $tabletWidth) {
  .input {
    font-size: 14px;
    line-height: 34px;
    height: 66px;
    padding: 16px 30px;
  }
}
