.notifications {
  &-bc {
    position: fixed;
    width: 480px;
    max-width: calc(100vw - 40px);
    padding: 0;
    z-index: 99;
    box-sizing: border-box;
    height: auto;
    top: auto;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  font-size: 14px;
  border-radius: 3px;
  padding: 16px 40px;
  box-sizing: border-box;
  transition: transform $defaultTransition, opacity $defaultTransition;
  transform: translate3d(0px, 0px, 0px);
  color: $black;
  bottom: 0;
  opacity: 0;
  margin-top: 20px;

  &-success {
    background-color: $grey;
  }

  &-error {
    background: $red;
    text-align: center;
    color: $white;
  }

  &-info {
    background-color: $grey;
    text-align: center;
  }

  &-visible {
    opacity: 1;
  }

  &-dismiss {
    display: none;
  }

  &-message {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-height: 90px;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}

@media screen and (min-width: $tabletWidth) {
  .notification{
    font-size: 16px;
    padding: 16px 40px;

    &-message {
      max-height: 130px;
    }
  }
}
