.pagination {
    
    &-block {
        display: flex;
    }
    a {
        font-size: 18px;
        font-weight: bold;
    }

    &-pages {
        display: flex;
        margin: 0 15px;
    }
    &__link {
        margin: 0 2px;
        span {
            padding: 0 4px;
        }
        &.active {
            span {
                color: $white;
                background-color: $red;
                border-radius: 2px;
            }
        }
    }
    &__dots {
        color: $red;
    }
    &--left {
        padding-left: 20px;
    }
    &--right {
        padding-right: 20px;
    }
    &-arrow {
        position: relative;

        &__icon {
            position: absolute;
            top: 1px;
        }
        &--prev {
            left: 0;
            transform: rotate(180deg);
        }
        &--next {
            right: 0;
        }
        svg {
            width: 13px;
            height: 13px;
            fill: $red;
            transition: fill 0.3s ease-in-out;
        }
    }
}