.section {
  padding-top: 100px;
  padding-bottom: 100px;

  &__promo {
    &--home {
      padding-top: 130px;
      padding-bottom: 30px;
    }

    &--why {
      padding-top: 130px;
    }

    &--contact {
      padding-top: 130px;
    }
  }

  &__get-memurai {
    padding-bottom: 40px;
  }

  &__review-short {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: $tabletWidth) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;

    &__promo {
      &--home {
        padding-top: 140px;
      }

      &--why {
        padding-top: 150px;
      }

      &--contact {
        padding-top: 150px;
      }
    }
  }
}

@media screen and (min-width: $desktopWidth) {
  .section {
    padding-top: 140px;
    padding-bottom: 140px;

    &__promo {
      &--home {
        padding-top: 150px;
        padding-bottom: 40px;
      }

      &--why {
        padding-top: 170px;
      }

      &--contact {
        padding-top: 170px;
      }
    }
  }
}
