.section {
  padding-top: 100px;
  padding-bottom: 100px;

  &__promo {
    &--home {
      &.bg-black {
        padding-bottom: 30px;
        padding-top: 130px;
        background-image: url(/static/images/background.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: bottom;
      }
    }
  }
  &__social {
    border-top: 1px solid #e4e5e7;
  }
  &__legal {
    padding-top: 130px;
  }

  &__get-memurai {
    padding-bottom: 40px;
  }

  &__review-short {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: $tabletWidth) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;

    &__promo {
      padding-top: 150px;

      &--home {
        padding-top: 140px;
      }

      &--result {
        padding-top: 200px;
        padding-bottom: 150px;
      }
    }

    &__legal {
      padding-top: 150px;
    }

    &__get-memurai {
      padding-bottom: 40px;
    }

    &__review-short {
      padding-top: 60px;
      padding-bottom: 80px;
    }
  }
}

@media screen and (min-width: $desktopWidth) {
  .section {
    padding-top: 140px;
    padding-bottom: 140px;

    &__promo {
      padding-top: 170px;

      &--home {
        padding-top: 150px;
        padding-bottom: 40px;
      }

      &--result {
        padding-top: 240px;
        padding-bottom: 180px;
      }
    }

    &__legal {
      padding-top: 170px;
    }

    &__get-memurai {
      padding-bottom: 40px;
    }

    &__review-short {
      padding-top: 60px;
      padding-bottom: 80px;
    }
  }
}
