.section {
  padding-top: 100px;
  padding-bottom: 100px;

  &__promo {
    &--home {
      &.bg-black {
        padding-bottom: 30px;
        padding-top: 130px;
        background-image: url(/static/images/background-full.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
        .block__postfix {
          margin-bottom: 0px;
        }
        @media screen and (max-width: 1020px) {
          background-image: url(/static/images/background-landscape.png);
          background-size: cover;
          background-position-y: 70px;
          padding-top: 100px;
          .block__postfix {
            margin-top: 35px;
          }
          h1 {
            max-width: 550px;
            margin: auto;
            font-size: 30px;
            line-height: 44px;
          }
        }
        @media screen and (max-width: 400px) {
          background-image: url(/static/images/background-mobile.png);
        }
      }
    }
    &--about {
      small {
        font-size: 60%;
      }
      .block__description {
        white-space: nowrap;
      }
      @media screen and (max-width: 600px) {
        .block__description {
          white-space: unset;
        }
      }
    }
  }
  &__get-memurai {
    padding-bottom: 40px;
    .block__postfix {
      margin-top: 50px;
      font-size: 13px;
      text-align: left;
      line-height: 20px;
    }
    &--main {
      padding-bottom: 100px;
    }
    .overtext {
      color: #f6282f;
      margin-top: -3px;
    }
  }
  &__social {
    border-top: 1px solid #e4e5e7;
  }
  &__legal {
    padding-top: 130px;
  }

  &__review-short {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  &__support {
    button {
      position: absolute;
      bottom: 20px;
      width: 280px;
      &:hover {
        color: black;
      }
    }
    .block__blog {
      position: relative;
      text-align: left;
      padding-bottom: 118px;
      &.col-md-6 {
        flex-basis: 100%;
      }
    }
  }
}

@media screen and (min-width: $mobileWidth) {
  .section {
    &__support {
      .block__blog {
        &.col-md-6 {
          flex-basis: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: $phabletWidth) {
  .section {
    &__support {
      .block__blog {
        &.col-md-6 {
          flex-basis: 48%;
        }
      }
    }
  }
}

@media screen and (min-width: $tabletWidth) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;

    &__reviews {
      padding-bottom: 90px;
    }

    &__promo {
      padding-top: 150px;

      &--home {
        padding-top: 140px;
        .block {
          &__title {
            margin: 40px 0 80px;
          }
          &__description {
            margin-bottom: 60px;
          }
          &__postfix {
            margin-top: 60px;
          }
        }
      }

      &--result {
        padding-top: 200px;
        padding-bottom: 150px;
      }
      &--get-memurai {
        .block__elem.block__title {
          margin-bottom: 100px;
        }
      }
    }

    &__legal {
      padding-top: 150px;
    }

    &__review-short {
      padding-top: 60px;
      padding-bottom: 80px;
    }

    &__social {
      padding-bottom: 150px;
    }
  }
}

@media screen and (min-width: $desktopWidth) {
  .section {
    padding-top: 140px;
    padding-bottom: 140px;

    &__reviews {
      padding-bottom: 70px;
    }

    &__promo {
      padding-top: 170px;

      &--home {
        padding-top: 150px;
        padding-bottom: 40px;
        .block {
          &__title {
            margin: 20px 0 60px;
          }
          &__description {
            margin-bottom: 50px;
          }
          &__postfix {
            margin-top: 50px;
          }
        }
      }

      &--result {
        padding-top: 240px;
        padding-bottom: 180px;
      }

      &--get-memurai {
        padding-bottom: 100px;
      }
    }

    &__legal {
      padding-top: 170px;
    }

    &__review-short {
      padding-top: 60px;
      padding-bottom: 80px;
    }

    &__get-memurai--main {
      padding-bottom: 120px;
      .block__postfix {
        margin-top: 30px;
      }
    }

    &__social {
      padding-bottom: 150px;
    }
  }
}
