.blog {
    &-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &-content {
        max-width: 753px;
        padding-right: 20px;
    }
    &-category {
        max-width: 317px;
        padding-left: 20px;
    }
    &-main {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    &__title {
        font-size: 32px;
        font-weight: bold;
        line-height: 1.3;

        &--bottom {
            margin-bottom: 40px;
        }
    }
    &-info {
        max-width: 800px;
        margin: auto;
    }
    &__subtitle {
        color: $blue;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        line-height: 2.6;

        &--bottom {
            margin-bottom: 11px;
        }
        &--height {
            line-height: 1;
            margin-bottom: 30px;
        }
    }
    // &__image {
    //     &--zoom {
    //         left: 0px!important;
    //         transition: width 0.3s ease, transform 300ms ease 0s!important;
    //         width: 100%!important;
    //         height: auto!important;
    //     }
    // }
    &-subscribe {
        margin-bottom: 80px;

        &__title {
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 10px;
        }
        .checkbox {
            height: auto;
            line-height: 20px;
        }
        &__text {
            &--mobile {
                display: none;
            }
        }
        input {
            padding: 0 20px;
            height: 48px;
        }
        .form__row {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 0px;
            margin: 0 -10px;
        }
        .form__group {
            &--checkbox {
                margin-top: 20px;
            }
            &--lg {
                margin-top: 20px;
            }
        }
        .button {
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 20px;
        }
        &__line {
            display: none;
            margin-bottom: 50px;
            &::before {
                content: '';
                position: absolute;
                width: 100vw;
                height: 1px;
                left: 0;
                background-color: $grey;
            }

            &--page {
                display: block;
                margin-bottom: 100px;
            }
        }

    }
    &-categories {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        
    }

    &__text {
        font-size: 20px;
        line-height: 1.8;

        &--bottom {
            margin-bottom: 55px;
        }
        &--underline {
            text-decoration: underline!important;
        }
        &--semibold {
            font-weight: 500;
        }
        &--link {
            color: $black;
            cursor: text;
        }
    }
    &-item {
        width: 100%;

        &-footer {
            max-width: 800px;
            margin: auto;
            padding-top: 60px;
            padding-bottom: 100px;
        }

        &-content {
            a {
                transition: color $defaultTransition;
                color: $red;

                &:hover {
                    color: $black;
                }
            }
            p {
                margin-bottom: 20px;
                font-size: 20px;
                line-height: 36px;
            }
            h1 {
                margin-bottom: 20px;
                font-size: 36px;
                line-height: 44px;
                font-weight: bold;
            }
            code {
                font-family: 'Roboto';
            }
            pre {
                box-sizing: border-box;
                padding: 0;
                margin: 0;
                width: max-content;
                overflow: auto;
                overflow-y: hidden;
                margin-bottom: 20px;
                line-height: 20px;
                border: 1px solid #777;
                padding: 20px;
                background-color: $whiteGrey;
                white-space: pre-wrap;

                code {
                    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
                    font-size: 12px;
                }
            }
            img {
                position: relative;
                left: 50%;
                margin-right: -50%;
                transform: translateX(-50%);
                pointer-events: none;
            }
        }


    }

    &__helper {
        line-height: 0px;
    }
}

@media (max-width: 1200px) {
    .blog {
        &-section {
            flex-direction: column;
            margin-bottom: 0px;
        }
        &-content {
            max-width: 100%;
            padding: 0;
        }
        &__subtitle {
            &--height {
                margin-bottom: 11px;
            }
        }
        &-subscribe {
            &__title {
                margin-bottom: 10px;
            }
            .button {
                height: 64px;
            }
            .checkbox {
                line-height: 30px;
            }
            &__line {
                display: block;

                &--page {
                    margin-bottom: 50px;
                }
            }
        }
        &-category {
            order: 1;
            padding: 0px;
            max-width: 100%;
            width: 100%;
            margin: auto;
            &-block {
                display: none;
            }
        }
        input {
            height: 64px;
        }
        &-item {
            &-footer {
                padding-top: 10px;
                padding-bottom: 50px;
            }
            &-content {
                pre {
                    code {
                        font-size: 10px;
                    }
                }
                h1 {
                    font-size: 24px;
                }

            }
        }

        .pagination {
            order: 0;
            margin-bottom: 50px;
        }
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .blog {
        &-subscribe{
            max-width: 70%;
            width: 100%;
            margin: auto;
        }
    }
}
@media (max-width: 768px) {
    .block {
        &__blog {
            padding: 25px;
        }
    }
    .blog {
        .section {
            padding-top: 30px;
            padding-bottom: 60px;
        }
        &-main {
            padding-bottom: 0px;
        }
        &-item {
            &-content {
                pre {
                    width: auto;
                }
            }
        }
        &-subscribe {
            &__button {
                display: flex;
                justify-content: center;
            }
            input {
                height: 48px;
            }
            &__text {
                &--mobile {
                    display: block;
                    text-align: left;
                }
            }
            &__title {
                text-align: left;

                &--mobile {
                    display: none;
                }
            }
            .checkbox {
                height: auto;
            }
        }
    }
}
