.f-menu {
  &__link {
    line-height: 1.71;
  }

  &__item {
    height: 24px;
    text-align: left;
  }
}

@media screen and (min-width: $tabletWidth) {
  .f-menu {
    &__item {
      text-align: left;
    }
  }
}
