.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 14px;
  color: $greyLight;
  line-height: 24px;
  background-image: url(/static/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  .container {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1400px;
    width: 1400px;
  }

  &__row {
    margin-bottom: -50px;
    &-main {
      @media (max-width: 768px) {
        // flex-direction: column-reverse;
      }
    }
  }

  &__col {
    margin-bottom: 50px;
    &--nomobile {
      display: none;
    }
    &--onlymobile {
      display: inline-block;
    }
  }

  &__header {
    text-transform: uppercase;
    color: $white;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__contacts {
    text-align: center;
    &-column {
      .header__logo {
        margin-left: -45px;
        margin-bottom: 20px;
      }
    }
  }

  &__terms {
    .link {
      display: inline-block;
      text-transform: uppercase;
      position: relative;

      &:not(:last-child) {
        padding-right: 8px;

        &:after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          display: block;
          background-color: $greyLight;
          height: 14px;
          width: 1px;
        }
      }

      &:not(:first-child) {
        padding-left: 8px;
      }
    }
  }
  .form--subscribe {
    max-width: 100%;
    input {
      background-color: #9b9b9b;
      border-color: #8c8c8c;
      height: 50px;
      caret-color: white;
      &.input--error {
        border-color: rgb(246, 40, 47);
      }
    }
    .checkbox {
      height: auto;
      &:before {
        background-color: #9b9b9b;
        border-color: #8c8c8c;
      }
      a {
        color: inherit;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .justify-center-xs {
      justify-content: unset;
    }
    button {
      max-width: 100%;
      height: 55px;
      line-height: 0;
      &.disabled {
        background-color: #4a4a4a;
        color: #080606;
      }
    }
  }
}

@media (max-width: 1400px) {
  .footer {
    .container {
      max-width: 100%;
      width: 100%;
    }
  }
}

@media screen and (min-width: $tabletWidth) {
  .footer {
    &__contacts {
      text-align: left;
      &-column {
        flex-direction: row;
        .header__logo {
          margin: 0px;
          margin-right: 20px;
        }
      }
    }
    &__terms {
      text-align: center;
    }
    &__col {
      &--nomobile {
        display: inline-block;
      }
      &--onlymobile {
        display: none;
      }
    }
  }
}
