.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 14px;
  color: $greyLight;
  line-height: 24px;

  .container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1360px;
    width: 1360px;
  }

  &__row {
    margin-bottom: -50px;
  }

  &__col {
    margin-bottom: 50px;
  }

  &__header {
    text-transform: uppercase;
    color: $white;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__contacts {
    text-align: center;
  }

  &__terms {
    .link {
      display: inline-block;
      text-transform: uppercase;
      position: relative;

      &:not(:last-child) {
        padding-right: 8px;

        &:after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          display: block;
          background-color: $greyLight;
          height: 14px;
          width: 1px;
        }
      }

      &:not(:first-child) {
        padding-left: 8px;
      }
    }
  }
}

@media (max-width: 1360px) {
  .footer {
    .container {
      max-width: 100%;
      width: 100%;
    }
  }
}

@media screen and (min-width: $tabletWidth) {
  .footer {
    &__contacts {
      text-align: right;
    }
  }
}
