.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background-color: $black;
  padding-top: 19px;
  padding-bottom: 19px;
  z-index: 10;
  box-shadow: none;
  transition: box-shadow $defaultTransition, left $defaultTransition;

  &__element {
    &-side {
      width: 180px;
    }
  }

  &__logo {
    display: flex;
    height: 42px;

    img,
    svg {
      height: 100%;
      width: auto;
    }
  }

  &__button {
    display: none;
  }

  &--white {
    background-color: $white;
  }

  &--scrolled {
    position: fixed;
    animation: headerSlideDown $doubleTransition;
    box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.03);
  }

  &--show-menu {
    left: -$mobileMenuWidth;
  }

  &__burger {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
  }
}

@media screen and (min-width: $phabletWidth) {
  .header {
    &__burger {
      right: 32px;
    }
  }
}

@media screen and (min-width: $tabletWidth) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;

    &__button {
      display: inline-block;

      &.button__hollow {
        height: 48px;
        line-height: 44px;
      }

      .button--versioned {

        &:after {
          bottom: 24px;
        }
      }
    }

    &__logo {
      height: 50px;
      width: 180px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      img,
      svg {
        height: 100%;
        width: auto;
      }
    }

    &__burger {
      display: none;
    }

    &--show-menu {
      left: 0;
    }
  }
}
