.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: $black;
  padding-top: 19px;
  padding-bottom: 19px;
  z-index: 10;
  box-shadow: none;
  transition: box-shadow $defaultTransition, left $defaultTransition,
    background-color $defaultTransition;

  .container {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1400px;
    width: 1400px;
  }

  &__element {
    &-side {
      width: 180px;
    }
  }

  &__logo {
    display: flex;
    height: 42px;

    img,
    svg {
      height: 100%;
      width: auto;
    }
  }

  &__button {
    display: none;
  }

  &--white {
    background-color: $white;

    .arrow {
      border: solid $black;
      border-width: 0 2px 2px 0 !important;
    }
  }
  &--banner {
    position: relative;
    margin-top: -25px;
    margin-bottom: 20px;
    background: #9b9b9b;
    color: #fff;
    padding: 5px 20px;
    text-align: center;
    font-size: 18px;
    a {
      color: #fff;
      &:hover {
        color: #f6282f;
      }
    }
    &--close {
      position: absolute;
      top: calc(50% - 14px);
      right: 10px;
      display: block;
      font-size: 40px;
      line-height: 26px;
      height: 28px;
      cursor: pointer;
      &:hover {
        color: #f6282f;
      }
    }
  }
  &__burger {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
  }
}

@media (max-width: 1400px) {
  .header {
    .container {
      max-width: 100%;
      width: 100%;
    }
  }
}

@media (max-width: $phabletWidth) {
  .header {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@media screen and (min-width: $phabletWidth) {
  .header {
    &__burger {
      right: 32px;
    }
  }
}

@media screen and (min-width: $tabletWidth) {
  .header {
    position: absolute;
    padding-top: 25px;
    padding-bottom: 25px;

    &__button {
      display: inline-block;

      &.button__hollow {
        height: 48px;
        line-height: 44px;
      }

      .button--versioned {
        &:after {
          bottom: 24px;
        }
      }
    }

    &__logo {
      height: 50px;
      width: 180px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      img,
      svg {
        height: 100%;
        width: auto;
      }
    }

    &__burger {
      display: none;
    }

    &--fixed {
      position: fixed;
      box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.03);
      animation: headerSlideDown $doubleTransition;
    }
  }
}
