.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  min-height: 100vh;
  position: relative;
  left: 0;
  transition: left $defaultTransition;

  &--show-menu {
    left: -$mobileMenuWidth;

    .header--fixed {
      left: -$mobileMenuWidth;
    }
  }
}

@media screen and (min-width: $tabletWidth) {
  .layout {
    &--show-menu {
      left: 0;
    }
  }
}
